.listing-person-items {
  display: flex;
  flex-wrap: wrap;
  .listing-person-item {
    padding: 10px;
    border-radius: 4px;
    margin: 10px;
    box-shadow:
      rgb(212, 212, 213) 0px 1px 3px 0px,
      rgb(212, 212, 213) 0px 0px 0px 1px;
    .person-card {
      display: flex;
      height: 225px;
      flex-direction: column;
    }
    .person-card-image {
      width: auto;
      height: 175px;
    }
    .person-card-content h3 {
      min-height: 50px;
      padding-bottom: 10px;
      text-align: center;
    }
  }
}
