.listing-person-items {
  display: flex;
  flex-wrap: wrap;
  .listing-person-item {
    border-radius: 4px;
    margin: 10px;
    box-shadow:
      rgb(212, 212, 213) 0px 1px 3px 0px,
      rgb(212, 212, 213) 0px 0px 0px 1px;
    .listing-link {
      text-decoration: none !important;
    }
    .person-card {
      display: flex;
      height: 250px;
      flex-direction: column;
      .person-card-image {
        width: auto;
        max-width: 100%;
        height: 200px;
        margin: 0 auto;
      }
      .person-card-content {
        height: 50px;
        h3 {
          height: 50px;
          padding: 5px;
          padding-top: 15px;
          margin-top: 0px;
          font-size: 16px;
          text-align: center;
        }
      }
    }
  }
}
